STRIPE_SECRET_KEY="sk_test_abc123"
CRAFT_ADMIN_USERNAME="example1",
CRAFT_ADMIN_PASSWORD="",
CRAFT_PAYEE_USERNAME="example2",
CRAFT_PAYEE_PASSWORD="",
CRAFT_PAYEE_NOT_OWN_BUT_VALID_ACCOUNT_ID="acct_abc123",
CRAFT_DEFAULT_HOSTNAME="example.test",
CRAFT_DEFAULT_SITE_URL="http://${CRAFT_DEFAULT_HOSTNAME}/"
