*.DS_Store
vendor
node_modules
*.log*
composer.lock
tests/**/.env
.php_cs.cache
.phpdoc

# Cypress
cypress.env.json
tests/cypress/screenshots
tests/cypress/videos
tests/cypress/downloads

# API Docs
docs/docs/api/classes/**/*.md
docs/docs/api/Home.md
