DB_DSN="mysql:host=<host>;port=<port>;dbname=<dbname>"
DB_USER="root"
DB_PASSWORD=""
DB_TABLE_PREFIX=""
SECURITY_KEY=""

# Set this to the `entryUrl` param in the `codeception.yml` file.
PRIMARY_SITE_URL="https://your-site-url.test/"
