DB_TEST_PASSWORD=""
DB_TEST_USER=""
DB_TEST_DATABASE=""
DB_TEST_TABLE_PREFIX=""
DB_TEST_DRIVER=""
DB_TEST_PORT=""
DB_TEST_SCHEMA=""
DB_TEST_SERVER=""

# Set this to the `entryUrl` param in the `codeception.yml` file.
PRIMARY_SITE_URL="https://craft-marketplace.ddev.site/"

STRIPE_SECRET_KEY="sk_test_abc123"

# Must be in same account as STRIPE_SECRET_KEY
STRIPE_CONNECT_USER_ACCOUNT_ID="acct_abc123"
