{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

<div class="ss-settings-block">
  {{ 'Instructions [Read more…](#)'|t('marketplace')|md }}
</div>

{{ forms.textField({
  readonly: true,
  label: 'Redirect URI' | t('social-login'),
  instructions: 'Use this URI when setting up Stripe Connect.' | t('social-login', { provider: provider.name }),
  value: provider.getRedirectUri(),
}) }}

{{ forms.autosuggestField({
  label: 'Stripe Connect Client ID'|t('marketplace'),
  instructions: 'Your Client ID for Stripe Connect, which is not the same as your Stripe publishable key.'|t('marketplace'),
  name: 'clientId',
  required: true,
  suggestEnvVars: true,
  value: provider.clientId ?? '',
  warning: macros.configWarning("providers.#{provider.handle}.clientId", 'social-login'),
  errors: provider.getErrors('clientId'),
}) }}

{{ forms.autosuggestField({
  label: 'Secret API Key' | t('commerce-stripe'),
  instructions: 'Your main secret Stripe API key.'|t('commerce-stripe'),
  name: 'clientSecret',
  required: true,
  suggestEnvVars: true,
  value: provider.clientSecret ?? '',
  warning: macros.configWarning("providers.#{provider.handle}.clientSecret", 'social-login'),
  errors: provider.getErrors('clientSecret'),
}) }}
