.card {
}

.cardHeader,
.cardBody,
.cardFooter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.newsletterFields {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.newsletterFieldItem {
  width: 100%;
}

.newsletterLabel {
  display: none;
}

.newsletterButton,
.newsletterInput {
  height: 100%;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}

.newsletterInput {
  padding: 1em;
  width: 100%;
  border: 2px solid var(--marketplace-color-primary);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.newsletterButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hide {
  display: none;
}
